body{
    text-align: center;
    color : whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

#instructions{
    
    margin-top: 5%;
    border-style: double;

}

#result{
    background-color: black;
    border-style: solid;
    margin-left: 43%;
    width: 200px;
    height: 35px;
}
.crystals{
    display : flex;
    justify-content: space-around;
    align-items : center;
}

.crystal{
    border : 1px solid green;
    height: 200px;
    width: 200px;
}

#win{
    background-color: black;
    border-style: solid;
    margin-left: 46%;
     width: 100px;
    height: 30px;


}

#losses{ 
    background-color: black;
    border-style: solid;
    margin-left: 46%;
    width: 100px;
    height: 30px;

}

#container{
    font-size: 20px;
    background-color: black;
    border-style: solid;
    margin-left: 43%;
    width: 200px;
    height: 200px;


}
#currentCount{
    font-size: 40px;
}